@model IEnumerable<InternetAuction.BLL.DTO.LotModel>

@{
    ViewData["Title"] = "Index";
}

<h4>List lot</h4>
@if (Context.User.Identity.IsAuthenticated)
{
    @if (Context.User.IsInRole("Owner"))
    {
        <div>	<a asp-action="YourLot">To your lot</a></div>

    }
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostMin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutctionRef)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autction.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autction.End)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CostMin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AutctionRef)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Autction.Start)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Autction.End)
                </td>
                <td>
                    @Html.ActionLink("Bidding", "Create", "Bidding", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>