@model InternetAuction.BLL.DTO.BiddingModel

@{
    ViewData["Title"] = "Delete";
}

<h4>Delete bidding</h4>

<h3>Are you sure you want to delete this bidding?</h3>
<div>
 
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt class="col-sm-2">

            @Html.DisplayNameFor(model => model.Autction.Start)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Autction.Start)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Autction.End)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Autction.End)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Autction.Lot.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Autction.Lot.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Autction.Lot.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Autction.Lot.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Autction.Lot.CostMin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Autction.Lot.CostMin)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>